// out: ../ContactList.css, sourcemap: false, compress: false

.heading
  font-size 100%

.contactList
  margin 0 auto
  padding 0
  list-style none
  li
    cursor pointer

// @media (min-width: 768px)
//
//   .contactList
//     background-color black
