// out: ../MenuIcon/MenuIcon.css, sourcemap: false, compress: false

.menuIcon
  position absolute
  top 10px
  right 15px
  -webkit-appearance none
  -moz-appearance none
  appearance none
  background transparent
  border 0
  cursor pointer
  z-index 9999
  > span:before
    font-size 250%


@media (min-width: 1024px)

  .menuIcon
    display none
