// out: Main.sass, sourcemap: false, compress: true

*
  position relative
  height auto

.clear-float
  clear both

h1, h2, h3, h4, h5, h6, p
  margin 0
  padding 0
  line-height 1

$black = #000
$white = #fff
$off-white = #f1f2f2
$clear-white = rgba(255,255,255,.3)
$dark-grey = #333333
$lgt-grey = #444444

a,
a:link,
a:visited,
a:hover,
a:active
  color inherit
  text-decoration none

h4,h5,h6,p,ol,ul
  line-height 1.3

h1
  font-size 200%
  font-weight 400

p
  a,
  a:link,
  a:visited,
  a:hover,
  a:active
    color inherit
    text-decoration underline

img
  max-width 100%

html
  -webkit-font-smoothing: antialiased;

html, body
  margin 0 auto
  padding 0
  width 100%
  height auto
  font-size 14px
  letter-spacing -.5px
  font-weight 400
  font-family 'Lato', sans-serif
  color $dark-grey
